/* QUOTE */
.quote {
	opacity: 0.5;
	display: flex;
	font-style: italic;
	font-weight: bold;
	align-items: flex-end;
}

.quote-symbol {
	font-size: 4rem;
}

.quote-text {
	font-size: 1.2rem;
}

.first-line {
	margin: 0;
	padding-left: 0.5rem;
}

.second-line {
	margin: 0;
	padding-left: 2rem;
}

/* SERVICES */
.title-services {
	text-align: center;
	font-weight: bold;
}

.services div {
	text-align: center;
}

.services div p {
	opacity: 0.75;
}

.icons img {
	height: 30px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
