/* QUOTE */
.quote {
	opacity: 0.5;
	display: flex;
	font-style: italic;
	font-weight: bold;
	align-items: center;
	user-select: none;
}

.quote-symbol {
	font-size: 5rem;
}

.quote-text {
	font-size: 1.3rem;
	margin-left: 1rem;
}

.quote-text p {
	margin: 0;
}

/* SERVICES */
.title-services {
	text-align: center;
	font-weight: bold;
}

.services div {
	text-align: center;
}

.services div p {
	opacity: 0.75;
}

.icons img {
	height: 30px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
