.container {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-around;
	padding: 0;
	margin: 0;
}

.title {
	font-size: 1.05rem;
	font-weight: bold;
	color: #f9d310;
}

.dropdown {
	background-color: #0d1e5b;
	border-color: #f9d310;
}

.dropdown-menu {
	background-color: #0d1e5b;
}

.dropdown-menu * {
	color: #fff;
}

.active,
.active:focus,
.active:enabled {
	color: #f9d310;
}
