@import "palette.module.css";

.container {
	display: flex;
	flex: 1;
	align-self: center;
	/* text-align: center; */
	/* justify-self: center; */
	margin-left: auto;
	margin-right: auto;
	margin-top: 4rem;
}

.content {
	display: flex;
}

.name {
	font-size: 2.7rem;
}

.contactBtn {
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	background-color: var(--secondary);
	color: var(--tertiary);
	border: 1px solid var(--secondary);
	text-decoration: none;
	text-align: center;
	padding: 1rem;
	max-width: 5rem;
}

.contactBtn:hover,
.contactBtn:active {
	background-color: var(--primary);
	transition: 1s;
}

.job {
	font-size: 1.25rem;
	font-weight: bold;
}

.exp-container {
	max-width: fit-content;
	max-height: fit-content;
}

.exp-desc {
	font-style: italic;
	text-align: center;
}

.exp-stack {
	justify-content: center;
}
