:root {
	--primary: #ffb677;
	--secondary: #ff8364;
	--tertiary: #5f6caf;
}

.bg-primary {
	background-color: var(--primary);
}

.bg-secondary {
	background-color: var(--secondary);
}

.bg-tertiary {
	background-color: var(--tertiary);
}

.primary {
	color: var(--primary);
}

.secondary {
	color: var(--secondary);
}

.tertiary {
	color: var(--tertiary);
}
